.section-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafbfd;
  padding-top: 6.25em;
  padding-bottom: 6.25em;
}

.section-one__image {
  width: 50%;
  padding-right: 2em;
}

.section-one__image img {
  width: 90%;
}

.section-one__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section-one__content span {
  font-size: 3.125em;
  padding-bottom: 1em;
  color: var(--text-color);
}

.section-one__content p {
  font-size: 1.25em;
  color: var(--text-color);
  line-height: 2.5em;
}
